$white-color: #ffffff;
$blue-background-color: #d8e7fb;
$blue-color: #2763eb;
$black-color: #000000;
$light-grey-color: lightgray;
$grey-backgound-color: #f1f1f1;
$background-gray-navigation-buttons: rgb(222, 225, 227);
$text-light-gray: rgb(107, 114, 128);