@import "../../../styles/variables.scss";

.fieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    .label {
        font-weight: 300;
        font-size: 0.9rem;
        font-family: var(--fontprincipal);
    }
}


  