@import "../../../styles/variables.scss";

.card {
    width: 24%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: $white-color;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.05rem solid $light-grey-color;
    

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(154, 154, 154);

        .title {
            font-weight: 300;
            font-size: 0.85rem;
            color: $black-color;
        }
    }

    .value {
        font-weight: 600;
        font-size: 1.25rem;
        color: $black-color;
    }
}